.player-hand {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.player-hand > * {
  margin-left: -140px;
  margin-top: 50px;
  transition: 200ms all;
}

.player-hand > *:first-child {
  margin-left: 0px;
}

.player-hand > *:hover {
  margin-top: 0px;
  padding-bottom: 50px;
}
